{% extends 'theme/base/base_form.html.twig' %}

{% block title %}New User{% endblock %}

{% block form %}

    <div class="card">
        <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">

            </div>
            <!-- /Logo -->
            <!--Form-->
            <h1>Créer une association</h1>

            {{ include('user/_form.html.twig') }}

        </div>
    </div>

{% endblock %}