{%extends 'theme/base/base.html.twig'%}
{% block content %}
<body>
<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner d-flex justify-content-center">
            <!-- Register Card -->
            {%block form%}

            {%endblock%}
            <!-- Register Card -->
        </div>
    </div>
</div>

<!-- / Content -->

</body>

{%endblock%}