<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{{path('app_acceuil')}}" class="app-brand-link">
              <span class="app-brand-text demo menu-text fw-bolder ms-2">AsGes</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <!-- <li class="menu-item active">
              <a href="index.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li> -->
          {% if app.user %}
            <!-- Layouts -->
            {%if 'ROLE_ADMIN' in app.user.roles %}
              <li class="menu-item {% if adminNav is defined and adminNav %} active {% endif%}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Layouts">Administration</div>
                </a>

                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="layouts-without-menu.html" class="menu-link">
                      <div data-i18n="Without menu">Liste des associations</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="layouts-without-navbar.html" class="menu-link">
                      <div data-i18n="Without navbar">Demandes de création d'associations</div>
                    </a>
                  </li>
                </ul>
              </li>
            {%endif%}

            <li class="menu-header small text-uppercase ">
              <span class="menu-header-text">Mes Informations</span>
            </li>
            <li
                    class="menu-item
                    {% if associationNav is defined and associationNav %} active {% endif%}
                    {% if open is defined and open %} open {% endif%}"

            >
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Associations</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item {% if userAssociationNav is defined and userAssociationNav %} active {% endif%}">
                  <a href="{{path('app_association.list')}}" class="menu-link">
                    <div data-i18n="Account">Mes associations</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-account-settings-notifications.html" class="menu-link">
                    <div data-i18n="Notifications">Mes demandes d'adhesion</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-account-settings-connections.html" class="menu-link">
                    <div data-i18n="Connections">Mes demandes de Creations d'Associations</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item {% if profilNav is defined and profilNav %} active {% endif%}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">Profile</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Basic">Login</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="auth-register-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Basic">Register</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Basic">Forgot Password</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Misc">Misc</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="pages-misc-error.html" class="menu-link">
                    <div data-i18n="Error">Error</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-misc-under-maintenance.html" class="menu-link">
                    <div data-i18n="Under Maintenance">Under Maintenance</div>
                  </a>
                </li>
              </ul>
            </li> -->
            <!-- Components -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Gestions de l'association</span></li>
            <!-- Cards -->
            <!-- <li class="menu-item">
              <a href="cards-basic.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Cards</div>
              </a>
            </li> -->
            <!-- User interface -->
            <li class="menu-item {% if editNav is defined and editNav %} active {% endif%}">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Editeur</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="ui-accordion.html" class="menu-link">
                    <div data-i18n="Accordion">Liste des adherants</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="ui-alerts.html" class="menu-link">
                    <div data-i18n="Alerts">Demandes d'adhésion</div>
                  </a>
                </li>
                <li class="menu-item">
                    <a href="ui-alerts.html" class="menu-link">
                        <div data-i18n="Alerts">Envoyer un e-mail</div>
                    </a>
                </li>
              </ul>
            </li>

            <!-- Extended components -->
            <li class="menu-item {% if gestionNav is defined and gestionNav %} active {% endif%}">
              <a href="javascript:void(0)" class="menu-link">
                <i class="menu-icon tf-icons bx bx-copy"></i>
                <div data-i18n="Extended UI">Gestion des Editeurs</div>
              </a>

            </li>
          </ul>
          {% else %}
            <ul class="menu-inner py-1">

              <li class="menu-item active">
                <a href="javascript:void(0);" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Layouts">Acceuil</div>
                </a>
              </li>

                <li class="menu-item {% if LoginNav is defined and adminNav %} active {% endif%}">
                  <a href="{{path('app_login')}}" class="menu-link ">
                    <i class='menu-icon bx bx-log-in-circle'></i>
                    <div data-i18n="Layouts">Se connecter</div>
                  </a>
                </li>
              <li class="menu-item {% if registerNav is defined and adminNav %} active {% endif%}">
                <a href="{{path('app_user_new')}}" class="menu-link">
                  <i class='menu-icon bx bx-user-plus'></i>
                  <div data-i18n="Layouts">S'Inscrire</div>
                </a>
              </li>
            </ul>

          {% endif%}


</aside>