{% extends 'theme/base/base_form.html.twig' %}

{% block title %}New User{% endblock %}

{% block form %}
    <div class="card">
        <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">

            </div>
            <!-- /Logo -->
            <!--Form-->
            <h1>S'inscrire</h1>

            {{ include('user/_form.html.twig') }}

            <!--Form-->
            <p class="text-center">
                <span>VOus avez déja un compte?</span>
                <a href="{{path('app_login')}}">
                    <span>Se connecter</span>
                </a>
            </p>
        </div>
    </div>



{% endblock %}
